<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AppDbContext"
			 connectionString="Data Source=PC;Initial Catalog=Cinema;TrustServerCertificate=True;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>