.color form button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    margin: 10px;
}

.color #red {
    background-color: red;
}

.color #yellow {
    background-color: yellow;
}

.color #purple {
    background-color: purple;
}

.color #green {
    background-color: green;
}

.color #brown {
    background-color: brown;
}

.color #pink {
    background-color: pink;
}

.color #color {
    border-radius: 10px;
    background-color: gray;
    color: white;
    margin: 5px;
    width: 80px;
}

.color #color:hover {
    background-color: rgb(180, 180, 180);
    color: black;
    cursor: pointer;
}

.color #colordiv {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.color #divdiv {
    width: 200px;
}

.color #div {
    margin: 5px;
}