
infromation{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

topic {
    display: block;
    margin-bottom: 20px;
    border: 1px solid red;
}

title {
    color: blue;
    font-size: 18px;
}

content {
    color: green;
}
