.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cart ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.cart span {
    margin: 5px;
}

.cart input {
    margin: 5px;
}

.cart2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 27%;
}

.delivery, .payment {
    display: flex;
    flex-direction: column;
}