  .container{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: url(../img/bludo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2s;
  }


  .container .content{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    width: 70%;
    height: 120px;
    margin-top: auto;
    background-color: rgba(57, 57, 57, 0.84);
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.container .content .information{
    width: 50%;
    padding: 7px;
    text-align: center;
    backdrop-filter: blur(3px);
  }

  .container .content .information:not(:first-child)::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20px;
    border-left: 1px dotted #cccccc;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
  }

  .icons a img{
    width: 25px;
    padding-bottom: 10px;
    padding: 5px;
    border-bottom: solid transparent 2px;
    transition: border-bottom 0.5s ease;
  }

  .icons a img:hover{
    border-bottom: solid white 2px;
  }

  .bron{
    position: sticky;
    width: 90%;
    height: 40%;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
    background-color: white;
    color: black;
    transition: background-color 0.8s, color 0.8s;
  }

  .bron:hover{
    background: black;
    color: white;
  }

  .bron:active{
    transform: scale(102%);
  }

  .all-info{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }

  .info-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .info-main h2{
    text-align: center;
  }

  .info-main div{
    width: 70%;
  }

  .img-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "a c";
    gap:10px;
    width: 50%;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-right: 20px;
  }

  .img-main img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease;
  }

  .img-main img:hover{
    transform: scale(102%);
  }

  .img-main .a{
    grid-area: a;
  }

  .img-main .b{
    grid-area: b;
    align-self: end;
  }

  .img-main .c{
    grid-area: c;
    align-self: start;
  }

  .info-main div img {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .content .information h3{
      font-size: 15px;
    }

    .content .information {
      height: 70%;
    }
    .bron {
      height: 60%;
    }
  }

  @media screen and (max-width: 850px) {
    .content .information h3{
      font-size: 14px;
    }

    .bron {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 768px) {

    .information:nth-child(3) {
      display: none;
    }

    .container {
      height: 200px;
    }

    .container .content {
      width: 100%;
      height: 70px;
      border-radius: 0;
      display: flex;
      align-items: center;
    }

    .container .content .information h3 {
      font-size: 11px;
    }

    .container .content .information:not(:first-child)::before {
      bottom: 10px;
      top: 10px;
    }
    .information h3{
      margin: 0;
      font-size: 10px;
      font-weight: 400;
    }

    .information .icons a img {
      padding: 3px;
      margin: 0 3px 0 3px;
    }

    .info-main h2{
      font-size: 20px;
    }

    .info-main p{
      font-size: 14px;
    }

    .img-main {
      display: none;
    }
    
    .info-main {
      width: 100%;
    }

    .info-main div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-bottom: 20px;
    }
    .info-main div img{
      display: block;
      width: 100%;
      border-radius: 10px;
    }
  }